<% provide(:title, "Pick a date") %>
<div class="container-fluid">
    <div class="row d-flex justify-content-between">
        <div class="col-md-6">
            <%= render 'providers/shared/gallery' %>
            
            <div class="calendar-wrapper">
                <div id='calendar'>
                </div>
                <div style='clear:both'></div>
            </div>
        </div>
        
        <%= render 'providers/shared/sidebar' %>
    </div>
</div>