<% provide(:title, "Confirmation") %>

<div class="container-fluid">
    <div class="row">
        <div class="col-7 m-auto">
            <div class="confirmation-wrapper">
              <div class="confirmation-wrapper__header mt-4">
                <h2 class="header__title">Booking Confirmation</h2>
                <h4 class="header__sub-title">
                    A booking summary has been sent to your provided email address for reference.
                </h4>
              </div>

              <div class="confirmation-wrapper__body mt-4">
                <h3 class="service-title">Name of Service Booked</h3>
                <table class="table table-condensed table-responsive table-sm">
                  <tbody>
                    <tr>
                      <td>Full Name</td>
                      <td>John Doe</td>
                    </tr>
                    <tr>
                      <td>Date &amp; Time</td>
                      <td>2017-10-20 3:00pm - 6:45pm</td>
                    </tr>
                    <tr>
                      <td>Price</td>
                      <td>&cent;240 99</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>15 Deedaw Lane, Madina, Greater Accra, Ghana</td>
                    </tr>
                    <tr>
                      <td>Cancellation</td>
                      <td>YZ-GP7MB</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="confirmation-wrapper__footer">
                <div class="info-area">
                  <h5 class="info-area__title">Payment</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.</p>
                </div>
                <div class="info-area">
                  <h5 class="info-area__title">View Booking Details</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.</p>

                  <p class="text-center mt-5">
                    <a href="#" data-turbolinks="true">https://www.letsbook.com/booking-details?id=37as-assad2-13sa</a>
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>