/*
*   Filename: _colors.scss
*   Author: Joseph Akitoye
*   Email: josephakitoye@gmail.com
*   Website: https://www.letsbook.com
*   Copyright 2017. All Rights Reserved
*/

$base-color: #4A86E8;
$primary-color: #009688;
$secondary-color: #607D8B;
$tertiary-color: #980000;
$white: #FFFFFF;
$black: #000000;
$grey: #E8E8E8;
$navigation-bg: #FEFEFE;

$border-color: $grey;
$shadow-color: #CCCCCC;
$header-color: #2D2D2D;

$facebook: #496EBC;
$google: #EC4D3D;

// Typography
$font-color: #171717;
$font-shadow-color: "";

// Buttons
$button-bg: $base-color;
