/*
*   Filename: _variables.scss
*   Author: Joseph Akitoye
*   Email: josephakitoye@gmail.com
*   Website: https://www.letsbook.com
*   Copyright 2017. All Rights Reserved
*/

$tablet-width: 768px;
$desktop-width-px: 1440px;
$desktop-width: 100%;

$navigation-height: 80px;